@import '../../styles/customVariables.scss';

.button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  background: none;
  outline: none;
  border: none;
  letter-spacing: 3px;
  font-size: $font-size-l;
  font-weight: $font-weight-light;
  width: 170px;

  &-selected {
    font-weight: $font-weight-bold;
    color: #0072ee;
  }
}
