// fonts
$font-size-m: 24px;
$font-size-s: $font-size-m * 0.875; // 21px
$font-size-l: $font-size-m * 1.3; // 32px
$font-size-xl: $font-size-m * 4; // 96px

$font-weight-light: 200;
$font-weight-medium: 400;
$font-weight-bold: 800;

// border
$border: 5px solid white;

//paddings margins
$padding-base: 20px;
$margin-base: 20px;
