@import './styles/customVariables.scss';
@import './styles/mixins.scss';

.App {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.buttonsContainer {
  height: 100px;
  width: 40%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.weatherContainer {
  border: $border;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 13px #0000000d;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: $margin-base;
}

.todayWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.restDayWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@include tablet {
  .buttonsContainer,
  .weatherContainer {
    width: 70%;
  }
}

@include mobile {
  .buttonsContainer,
  .weatherContainer {
    width: 90%;
  }

  .buttonsContainer{
    flex-flow: column;
    height: 100%;
    padding-bottom: $padding-base;
  }
}
