@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&family=Teko&display=swap');

@import './styles/customVariables.scss';

body {
  margin: 0;
  padding: 0;
  background-color: #f8fbfd;
  color: #0e2942;
  font-family: 'Proxima Nova Web','Proxima Nova', 'Montserrat', ui-sans-serif,system-ui,-apple-system;
  font-size: 100%;
  font-weight: $font-weight-light;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
