body {
  margin: 0;
  padding: 0;
  background-color: #f8fbfd;
  color: #0e2942;
  font-family: 'Proxima Nova Web','Proxima Nova',ui-sans-serif,system-ui,-apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Arial','Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  font-size: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
